.user-add__button{
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
align-items: center;
text-align: center;
color: #FFFFFF;
width: 38px;
height: 18px;
margin-top: 24px;
}